#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

#
# Shorewall6 -- /etc/shorewall6/tunnels
#
# For information about entries in this file, type "man shorewall6-tunnels"
#
# The manpage is also online at
# http://www.shorewall.net/manpages6/shorewall6-tunnels.html
#
###############################################################################
#TYPE			ZONE		GATEWAY			GATEWAY_ZONE
{% for tunnel in shorewall6_tunnels if not tunnel.skip_when|d()|bool %}
{{ tunnel.type }} {{ tunnel.zone }} {{ tunnel.gateway }} {{ tunnel.gateway_zones|d([])|join(',') }}
{% endfor %}
